<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="POST" action="/addjokes">
        <label>Enter your Setup</label>
        <input type="text" name="setup" placeholder="Enter setup" required>
        <label>Enter your punchline</label>
        <input type="text" name="punchline" placeholder="Enter punchline" required>
        <button type="submit">Submit</button>
    </form>

</body>
</html>