<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/home.css">
    <title>Document</title>
</head>
<body>
    <h1>Welcome I am Jokes Man :D</h1>
    <label class="question"><b>What kind of joke you want Single or Multiple?</b></label><br>
        <div class="link-card-grid">
            <a href="/jokes" class="link">
            <div class="link-card">
               Take me to Jokes
            </div>
        </a>
        <a href="/joke" class="link">
            <div class="link-card">
                Take me to joke
            </div>
        </a>
        </div>
</body>
</html>