<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/jokes.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <a href="/">Home</a>
    <h1>Welcome to the Jokes Section</h1>
        <div class="joke-card-grid">
            <% for(let i=0; i<jokes.length; i++){ %>
            <div>
                <div class="joke-heading">
                    <label>Joke <%= i+1 %></label>
                </div>
                <div class="jokes-card">
                <li>
                    <label><b>SetUp: </b></label>
                        <%= jokes[i].setup %><br>
                        <label>--- </label>
                        <%= jokes[i].punchline %>
                    </li>
               </div>
            </div>
            <% } %>
        </div>
</body>
</html>
