.jokes-card{
    background-color: #e5e5e5;
    padding: 40px;
    border-radius: 8px;
    margin-left: auto;
    margin-right: auto;
}

.jokes-card:hover{
    background-color: #f4f4f4;
    border: 1px solid rgb(199, 198, 198);
}

h1{
    text-align: center;
}

.joke-card-grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
}

body{
    font-family: "Montserrat", sans-serif; 
}

.joke-heading{
    font-size: 22px;
    text-align: center;
}